<div style="padding: 50px">
<section class="container">
            <!-- <h1>This is my awesome Angular JS application on OpenShift</h1>
                
            <section class="col-xs-12 col-sm-6 col-md-6"></section>
                <h2>Request information</h2>
                <p>Page view count: {{pageCount}}
                
            </section> -->
    
          
    <p><input placeholder="Type to search..." type="text" ng-model="searchFor" size="30"></p>
    <p>
      There are {{ products.length }} products available to view:
    </p>
    <div class="panel panel-primary" ng-repeat="product in products | filter: { description: searchFor } | orderBy: 'price'">
      <!-- Default panel contents-->
      <div class="panel-heading">
        <div style="float: right">{{ product.price }}</div>
        {{ product.name }}
      </div>
      <div class="description">
        {{ product.description }}
      </div>
    </div>


    <footer>
      <div class="logo"><a href="https://www.openshift.com/">Powered by OpenShift Container Platform</a></div>
    </footer>
</section>
</div>