

  <!-- 
<div> -->
  <!-- Page Content -->
  <div class="container">
 
    <div class="row">

        <div class="col-lg-12">

            <div id="carouselExampleIndicators" class="carousel slide mt-4" data-ride="carousel">
              <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
              </ol>
              <div class="carousel-inner" role="listbox">
                <div class="carousel-item active">
                  <!-- <img class="d-block img-fluid" src="http://placehold.it/1532x350" alt="First slide"> -->
                  <img class="d-block img-fluid" src="images/slider/slider-11.jpg" alt="First slide">
                </div>
                <div class="carousel-item">
                  <!-- <img class="d-block img-fluid" src="http://placehold.it/1532x350" alt="Second slide"> -->
                  <img class="d-block img-fluid" src="images/slider/slider-22.jpg" alt="Second slide">
                </div>
                <div class="carousel-item">
                  <!-- <img class="d-block img-fluid" src="http://placehold.it/1532x350" alt="Third slide"> -->
                  <img class="d-block img-fluid" src="images/slider/slider-33.jpg" alt="Third slide">
                </div>
              </div>
              <a class="carousel-control-prev" data-target="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" data-target="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
        </div>

    </div>
    <!-- <div class="container"> -->
    <div class="alert alert-info" ng-show="loading">"Please wait. Loading data..</div>
    <div class="row mb-4" ng-hide="loading">

        <div class="col-lg-3">
            <h4 class="my-4">Product Category</h4>
            <div class="list-group">
              <div class="list-group-item">
                <!-- <div class="row"> -->
                <p >Segment : </p>
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle dropdown-btn text-wrap" type="button" id="dropdownMenuButton" data-toggle="dropdown" 
                    aria-haspopup="true" aria-expanded="false">
                      {{ pc_selected_segment }}
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item active" href="javascript:void(0)" data-pc-type="{{ pc_type_segment }}">
                          {{ pc_dd_all }} 
                        </a>
                        <a class="dropdown-item" href="javascript:void(0)" ng-repeat="(key, value) in prodCats | groupBy: 'segmentName'"
                         data-pc-type="{{ pc_type_segment }}" data-value="{{ value }}">
                          {{ key }}
                        </a>
                    </div>
                </div>
                <!-- </div> -->
              </div>
              <div class="list-group-item">
                <p>Family : </p>
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle dropdown-btn text-wrap" type="button" id="dropdownMenuButton" data-toggle="dropdown" 
                    aria-haspopup="true" aria-expanded="false">
                      {{ pc_selected_family }}
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item active" href="javascript:void(0)" data-pc-type="{{ pc_type_family }}">
                          {{ pc_dd_all }} </a>
                        <a class="dropdown-item" href="javascript:void(0)" ng-repeat="(key, value) in prodCats | groupBy: 'familyName'"
                         data-pc-type="{{ pc_type_family }}" data-value="{{ value }}">
                          {{ key }}
                        </a>
                    </div>
                </div>
              </div>

              <div class="list-group-item">
                <p>Class : </p>
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle dropdown-btn text-wrap" type="button" id="dropdownMenuButton" data-toggle="dropdown" 
                    aria-haspopup="true" aria-expanded="false">
                      {{ pc_selected_class }}
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item active" href="javascript:void(0)" data-pc-type="{{ pc_type_class }}">
                          {{ pc_dd_all }} </a>
                        <a class="dropdown-item" href="javascript:void(0)" ng-repeat="(key, value) in prodCats | groupBy: 'className'"
                         data-pc-type="{{ pc_type_class }}" data-value="{{ value }}">
                          {{ key }}
                        </a>
                    </div>
                </div>
              </div>

              <!-- <a href="#" class="list-group-item">Category 1 </a>
              <a href="#" class="list-group-item">Category 2</a>
              <a href="#" class="list-group-item">Category 3</a> -->
            </div>
        </div>
        <div class="col-lg-9">
          <p class="my-4"><input placeholder="Type to search..." type="text" ng-model="searchFor" size="30"></p>
          <p>
            There are {{ prodCats ? prodCats.length : 0 }} product categories available to view:
          </p>
          <!-- <div class="product-cat panel panel-primary" ng-repeat="prodCat in prodCats | filter: { commodityName: searchFor } | orderBy: 'commodityName'">
            
            <div class="panel-heading">
              <div style="float: right">{{ prodCat.className }}</div>
              {{ prodCat.commodityName }}
            </div>
            <img src="{{ prodCat.imageUrl }}" class="card-img-top" alt="Catalog image..">
            <div class="description">
              {{ prodCat.segmentName }} -> {{ prodCat.familyName }} -> {{ prodCat.className }}
            </div>
          </div> -->
          
          <div class="row row-cols-1 row-cols-md-3">
            <div class="col mb-4" ng-repeat="prodCat in prodCats | filter: { commodityName: searchFor } | orderBy: 'commodityName'">
              <!-- Default Card contents-->
              <div class="card h-100">
                <img src="{{ prodCat.imageUrl }}" class="card-img-top" alt="<<Catalog image>>">
                <div class="card-body">
                  <a href="#/products/list/category?commodityId={{ prodCat.commodityId }}&commodityName={{ prodCat.commodityName }}">
                    <h5 class="card-title">{{ prodCat.commodityName }}</h5>
                  </a>  
                    <small>{{ prodCat.commodityId }}</small>
                  <p class="card-text">{{ prodCat.segmentName }} -> {{ prodCat.familyName }} -> {{ prodCat.className }}</p>
                </div>
              </div>
            </div>
          
          </div>
        </div>

    </div>

<!-- 
    <div style="clear: left"></div>

    <footer>
      <div class="logo"><a href="https://www.openshift.com/">Powered by OpenShift Container Platform</a></div>
    </footer> -->
  </div>
     <!-- /.container -->

    
<!-- </div> -->