  <!-- Page Content -->
  <div class="container">

    <section class="page-header">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="content">
              <h1 class="page-name">Product View</h1>
              <ol class="breadcrumb">
                <li><a href="#/home">Home&nbsp;</a></li>
                <li><a href="#/products/list/category?segmentId={{ segmentId }}&segmentName={{ segmentName }}">{{ segmentName }}&nbsp;</a></li>
                <li><a href="#/products/list/category?familyId={{ familyId }}&familyName={{ familyName }}">{{ familyName }}&nbsp;</a></li>
                <li><a href="#/products/list/category?classId={{ classId }}&className={{ className }}">{{ className }}&nbsp;</a></li>
                <li><a href="#/products/list/category?commodityId={{ commodityId }}&commodityName={{ commodityName }}">{{ commodityName }}&nbsp;</a></li>
                <li class="active">{{ itemName }}</li>
              </ol>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    <!-- <section class="products section" style="padding: 10px;">
      <div class="container">
      <div class="alert alert-info" ng-show="loading">"Please wait. Loading data..</div>
       <div class="row mb-4" ng-hide="loading">

        <div class="col-lg-3">
            <h4 class="my-4">Product Filters</h4>
            <div class="list-group">
              <div class="list-group-item">
                            
              </div>
              <div class="list-group-item">
                
              </div>

              <div class="list-group-item">
                
              </div>

              
            </div>
        </div>
        <div class="col-lg-9">
          <p class="my-4"><input placeholder="Type to search..." type="text" ng-model="searchFor" size="30"></p>
          <p>
            There are {{ products ? products.length : 0 }} products available to view:
          </p>

          
          <div class="row row-cols-1 row-cols-md-3">
          <div class="col-md-4" ng-repeat="product in products | filter: { itemName: searchFor } | orderBy: 'itemName'">
            <div class="product-item" >
              <div class="product-thumb">
                <img class="img-responsive" src="{{ product.imageUrl }}" alt="<<Product image>>" />
                <div class="preview-meta">
                  <ul>
                    <li>
                      <span  data-toggle="modal" data-target="#product-modal">
                        <i class="tf-ion-ios-search-strong"></i>
                      </span>
                    </li>
                    <li>
                                  <a href="#" ><i class="tf-ion-ios-heart"></i></a>
                    </li>
                    <li>
                      <a href=""><i class="tf-ion-android-cart"></i></a>
                    </li>
                  </ul>
                            </div>
              </div>
              <div class="product-content">
                <h4><a href="product-single.html">{{ product.itemName }}({{ product.itemId }})</a></h4>
                <p class="price">${{ product.productPricing.listPrice }}</p>
              </div>
            </div>
          </div>
          </div>
        
        
        
        </div>

    
      </div>
      </div>
    </section> -->

<!-- 
    <div style="clear: left"></div>

    <footer>
      <div class="logo"><a href="https://www.openshift.com/">Powered by OpenShift Container Platform</a></div>
    </footer> -->
  </div>
     <!-- /.container -->
